@font-face {
   font-family: 'Roboto-Italic';
   font-display: swap;
   src: url('file:///Users/anhdophile/Library/Containers/com.mobirise.Mobirise/Data/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2026-08-15_144819/fonts/Roboto-Italic/font.ttf');
}
